<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="use_tvoc" default="true" />

  <!-- launch tvoc to gas node -->
  <node pkg="agv_explore" type="get_tvoc.py" name="get_tvoc" if="$(arg use_tvoc)" />

  <!--  OR launch eco2 to gas node -->
  <node pkg="agv_explore" type="get_co2.py" name="get_co2" unless="$(arg use_tvoc)" />

  <!-- launch gas_mapping node -->

  <node pkg="agv_explore" type="gas_mapping_tf.py" name="gas_mapping">
    <rosparam file="$(find gas_distribution)/param/gas_visual_param.yaml" command="load" />
  </node>

</launch>
