<launch>

  <arg name="with_uav" default="false"/>
  <arg name="base_x" value="0.06" if="$(arg with_uav)" />
  <arg name="base_z" value="-0.31" if="$(arg with_uav)" />
  <arg name="base_x" value="-0.06" unless="$(arg with_uav)" />
  <arg name="base_z" value="-0.2" unless="$(arg with_uav)" />


  <!-- Robot Base Aibot Version 1 Description -->
  <param name="robot_description" command="xacro $(find aibot_description)/urdf/chassis/$(env AIBOT_BASE)/chassis.urdf.xacro" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
  </node>

  <!-- Start ROS communication between the robot's computer and aibot base -->
  <node pkg="rosserial_python" name="rosserial_aibot" type="serial_node.py" output="screen">
    <param name="port" value="/dev/linobase" />
    <param name="baud" value="57600" />
  </node>

  <!-- IMU Relay and Filter -->
  <include file="$(find aibot_hw)/launch/include/imu/imu.launch" />

  <!-- Publish aibot odometry -->
  <node pkg="aibot_hw" name="aibot_hw_node" type="aibot_hw_node" />

  <!-- WIP: publish static TF between livox frame "body" and "base_link" -->
  <node pkg="tf" type="static_transform_publisher" name="livox_frame_broadcaster" args="$(arg base_x) 0 $(arg base_z) 0 0 0 1 body base_link 20" />

  <!-- uav wire device-->
  <include file="$(find agv_explore)/launch/uav_wire_motion.launch" if="$(arg with_uav)" >
    <arg name="wire_bias" value="0.04" /> <!-- for vio mode -->
    <arg name="strong_wind_torque" value="150" />
  </include>



  <!-- run livox in remote machine -->
  <!-- <machine name="slam_machine" address="192.168.11.121" env-loader="$(find agv_explore)/env/slam_machine.sh" user="leus" /> -->

  <!-- <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch" machine="slam_machine"/> -->
</launch>
