<launch>

  <arg name="rm" default="True" />
  <arg name="sim" default="False" />
  <arg name="estimate_mode"  default= "0" />

  <arg name="launch_gazebo" default="True" />
  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_z" default="0.0"/>
  <arg name="spawn_yaw" default="0.0"/>

  <arg name="headless" default="True" />

  <include file="$(find mini_quadrotor)/launch/bringup.launch" >
    <arg name="rm" value="$(arg rm)" />
    <arg name="sim" value="$(arg sim)" />
    <arg name="estimate_mode" value="$(arg estimate_mode)" />

    <arg name="launch_gazebo" value="$(arg launch_gazebo)" />
    <arg name="spawn_x" value="$(arg spawn_x)" />
    <arg name="spawn_y" value="$(arg spawn_y)" />
    <arg name="spawn_z" value="$(arg spawn_z)" />
    <arg name="spawn_yaw" value="$(arg spawn_yaw)" />
    <arg name="headless" value="$(arg headless)" />
  </include>

  <param name="/quadrotor/navigation/takeoff_height" value="0.8"/>
  <param name="/quadrotor/bat_info/low_voltage_thre" value="2"/>
  <param name="/quadrotor/navigation/land_descend_vel" value="-0.1"/>

</launch>
