<?xml version="1.0"?>
<launch>
  <arg name="bag_file_name" default="my_bag" />
  <!-- Record bag -->
  <!-- WIP: topic名を確認すること -->
  <node name="bag_record" pkg="rosbag" type="record"
    args="record -O $(find uav_explore)/resources/bag/$(arg bag_file_name).bag
          /quadrotor//mocap/tvoc
          /quadrotor/mocap/tvoc
          /quadrotor/uav/nav
          " />
</launch>