<?xml version="1.0"?>
<launch>
    <arg name="bag_file_name" default="my_bag"/>
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock $(find turtlebot3_explore)/resources/bag/$(arg bag_file_name).bag -l"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_explore)/rviz/play.rviz" required="true" />
</launch>
