<launch>

  <arg name="use_teleop" default="false" />

  <arg name="use_slam" default="false" />
  <arg name="slam_methods" default="gmapping"/>

  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <arg name="move_forward_only" default="false"/>

  <!-- bringup the turtlebot in gazebo -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />

  <!-- use keyboard teleop -->
  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"
        output="screen" launch-prefix="xterm -e" if="$(arg use_teleop)" />

  <!-- do slam to crate map and do localization at the same time -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" if="$(arg use_slam)">
    <arg name="slam_methods" value="$(arg slam_methods)"/>
  </include>

  <!-- do amcl (only localization) with known map. (copy from turtlebot3_navigation/launch/turtlebot3_navigation.launch)  -->
  <group unless ="$(arg use_slam)">
    <!-- robot model -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" />

    <!-- AMCL -->
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    </include>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>


  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>


</launch>
