<launch>

  <arg name="plan_file" default="$(find turtlebot3_explore)/param/debug_points.yaml" />

  <!-- launch gas_patrol node -->
  <node pkg="turtlebot3_explore" type="gas_patrol.py" name="gas_patrol" output="screen">
    <rosparam command="load" file="$(arg plan_file)" />
  </node>

  <!-- launch gas_mapping node -->
  <node pkg="turtlebot3_explore" type="gas_mapping.py" name="gas_mapping">
    <rosparam file="$(find gas_distribution)/param/gas_visual_param.yaml" command="load" />
  </node>

  <!-- launch gas_explore <node>s -->
  <node pkg="turtlebot3_explore" type="gas_roughly_search.py" name="gas_roughly_search">
    <rosparam file="$(find gas_distribution)/param/gas_visual_param.yaml" command="load" />
  </node>
  <!-- <node pkg="turtlebot3_explore" type="gas_scrutinize.py" name="gas_scrutinize" /> -->


</launch>
