<launch>

  <arg name="plan_file" default="$(find turtlebot3_explore)/param/turtlebot3_full_relay_points.yaml" />
  
  <!-- launch gas_patrol node -->
  <node pkg="turtlebot3_explore" type="gas_patrol.py" name="gas_patrol" output="screen">
    <rosparam command="load" file="$(arg plan_file)" />
  </node>

  <node pkg="turtlebot3_explore" type="gas_mapping.py" name="gas_mapping">
    <rosparam file="$(find gas_distribution)/param/gas_visual_param.yaml" command="load" />
  </node>

  <!-- <node pkg="rviz" type="rviz" name="rviz" required="true" -->
  <!--       args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/> -->


</launch>
